* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #ecf0f3;
}

h3 {
    font-size: 22px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 10px;
    text-shadow: 0 0 20px #32de62;
}

.main {
    max-width: 350px;
    min-height: 448px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background: #ecf0f3;
    border-radius: 15px;
    box-shadow: 20px 20px 20px #1665b4,
     -20px -20px 20px #fff;
    aspect-ratio: 16/9;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 102px;
    height: 101px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 0 0 3px #5f5f5f,
        0 0 0 5px #ecf0c3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;

}

.main .twi {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 1.5px;
    padding-left: 10px;
    color: #555;
}


.main .formbox input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 19px;
    color: #a09090;
    padding: 10px 15px 10px 10px;
}


.main .formbox {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1,
        inset -8px -8px 8px #fff;
}

.main .btn {
    box-shadow: none;
    width: 100px;
    height: 40px;
    background-color: #03a9f4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #4561bd,
        -3px -3px 3px #4561bd;
    letter-spacing: 2px;
    margin-left: 90px;
}

.main .btn:hover {
    background-color: #039be5;
}

.main a {
    text-decoration: none;
    font-size: 15px;
    color: #03a9f4;
}

.main a:hover {
    color: #039be5;
}

.forgot {
    letter-spacing: 1px;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 2px;
    
}
